<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>10056_hurt_1000.png</key>
<dict>
<key>frame</key>
<string>{{162,142},{154,142}}</string>
<key>offset</key>
<string>{7,-4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{250,173},{154,142}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1001.png</key>
<dict>
<key>frame</key>
<string>{{2,422},{144,144}}</string>
<key>offset</key>
<string>{17,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{265,170},{144,144}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1002.png</key>
<dict>
<key>frame</key>
<string>{{148,422},{138,142}}</string>
<key>offset</key>
<string>{22,-3}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{273,172},{138,142}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1003.png</key>
<dict>
<key>frame</key>
<string>{{292,554},{140,138}}</string>
<key>offset</key>
<string>{26,-6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{276,177},{140,138}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1004.png</key>
<dict>
<key>frame</key>
<string>{{314,418},{146,134}}</string>
<key>offset</key>
<string>{32,-11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{279,184},{146,134}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1005.png</key>
<dict>
<key>frame</key>
<string>{{158,286},{154,134}}</string>
<key>offset</key>
<string>{38,-13}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{281,186},{154,134}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1006.png</key>
<dict>
<key>frame</key>
<string>{{332,140},{160,136}}</string>
<key>offset</key>
<string>{39,-12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{279,184},{160,136}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1007.png</key>
<dict>
<key>frame</key>
<string>{{332,2},{162,136}}</string>
<key>offset</key>
<string>{36,-11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{275,183},{162,136}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1008.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{164,138}}</string>
<key>offset</key>
<string>{32,-10}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{270,181},{164,138}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1009.png</key>
<dict>
<key>frame</key>
<string>{{168,2},{162,138}}</string>
<key>offset</key>
<string>{28,-11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{267,182},{162,138}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1010.png</key>
<dict>
<key>frame</key>
<string>{{2,142},{158,136}}</string>
<key>offset</key>
<string>{20,-12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{261,184},{158,136}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1011.png</key>
<dict>
<key>frame</key>
<string>{{318,278},{154,138}}</string>
<key>offset</key>
<string>{12,-9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{255,180},{154,138}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_hurt_1012.png</key>
<dict>
<key>frame</key>
<string>{{2,280},{154,140}}</string>
<key>offset</key>
<string>{9,-6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{252,176},{154,140}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>10056_hurt.png</string>
<key>size</key>
<string>{512,1024}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:6e52faa15cf169340d8e508f77e88e40$</string>
<key>textureFileName</key>
<string>10056_hurt.png</string>
</dict>
</dict>
</plist>
