<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>10056_stand_1000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{154,142}}</string>
<key>offset</key>
<string>{7,-4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{250,173},{154,142}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_stand_1001.png</key>
<dict>
<key>frame</key>
<string>{{312,2},{152,144}}</string>
<key>offset</key>
<string>{8,-6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{252,174},{152,144}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_stand_1002.png</key>
<dict>
<key>frame</key>
<string>{{312,148},{150,150}}</string>
<key>offset</key>
<string>{9,-7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{254,172},{150,150}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_stand_1003.png</key>
<dict>
<key>frame</key>
<string>{{158,2},{150,152}}</string>
<key>offset</key>
<string>{10,-8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{255,172},{150,152}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_stand_1004.png</key>
<dict>
<key>frame</key>
<string>{{312,148},{150,150}}</string>
<key>offset</key>
<string>{9,-7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{254,172},{150,150}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_stand_1005.png</key>
<dict>
<key>frame</key>
<string>{{2,146},{152,144}}</string>
<key>offset</key>
<string>{8,-6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{252,174},{152,144}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>10056_stand.png</string>
<key>size</key>
<string>{512,512}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:419d2a50506760052ec7e888a8db93ff$</string>
<key>textureFileName</key>
<string>10056_stand.png</string>
</dict>
</dict>
</plist>
