<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>10056_spell_1000.png</key>
<dict>
<key>frame</key>
<string>{{2,264},{154,142}}</string>
<key>offset</key>
<string>{7,-4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{250,173},{154,142}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1001.png</key>
<dict>
<key>frame</key>
<string>{{324,272},{152,142}}</string>
<key>offset</key>
<string>{6,-5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{250,174},{152,142}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1002.png</key>
<dict>
<key>frame</key>
<string>{{2,408},{148,142}}</string>
<key>offset</key>
<string>{5,-7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{251,176},{148,142}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1003.png</key>
<dict>
<key>frame</key>
<string>{{152,418},{142,142}}</string>
<key>offset</key>
<string>{6,-11}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{255,180},{142,142}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1004.png</key>
<dict>
<key>frame</key>
<string>{{312,416},{146,138}}</string>
<key>offset</key>
<string>{4,-5}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{251,176},{146,138}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1005.png</key>
<dict>
<key>frame</key>
<string>{{168,138},{154,144}}</string>
<key>offset</key>
<string>{7,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{250,170},{154,144}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1006.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{124,168}}</string>
<key>offset</key>
<string>{34,10}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{292,146},{124,168}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1007.png</key>
<dict>
<key>frame</key>
<string>{{338,2},{126,164}}</string>
<key>offset</key>
<string>{34,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{291,150},{126,164}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1008.png</key>
<dict>
<key>frame</key>
<string>{{2,128},{134,164}}</string>
<key>offset</key>
<string>{34,8}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{287,150},{134,164}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1009.png</key>
<dict>
<key>frame</key>
<string>{{158,284},{132,152}}</string>
<key>offset</key>
<string>{33,2}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{287,162},{132,152}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1010.png</key>
<dict>
<key>frame</key>
<string>{{172,2},{164,134}}</string>
<key>offset</key>
<string>{7,-7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{245,180},{164,134}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
<key>10056_spell_1011.png</key>
<dict>
<key>frame</key>
<string>{{338,130},{158,140}}</string>
<key>offset</key>
<string>{5,-4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{246,174},{158,140}}</string>
<key>sourceSize</key>
<string>{640,480}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>10056_spell.png</string>
<key>size</key>
<string>{512,1024}</string>
<key>smartupdate</key>
<string>$TexturePacker:SmartUpdate:365e3d9be233fce12dca4bc3c07c3282$</string>
<key>textureFileName</key>
<string>10056_spell.png</string>
</dict>
</dict>
</plist>
